<h1>Olá Handlebars!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ad impedit quo minima? A totam quisquam dolorem quibusdam incidunt autem amet ut sed, ipsa, hic dolorum asperiores non molestias id.</p>

<h2>O nome do usuário é: {{user.name}} {{user.surname}}, {{user.age}} anos</h2>