<h1>Livros Dispoíveis: </h1>

<div class="books-container">
    <a href="/">Add novo livro</a>
    {{#each books}}
        <div>
            #{{this.id}} - <span class="bold"><a href="/books/{{this.id}}">{{this.title}}</a></span>
            - {{this.pageqty}} páginas
        </div>
    {{/each}}
</div>